/*==================== VARIABLES ====================*/
:root {
    --legion-blue: #0a2a36;
    --shady-glade: #02735e;
    --button-content: #14735e;
    --black-eno: #040f13;
    --black-eno-mid: #727272;
    --bleached-aqua: #bde0e2;
    --chalk-violet: #9183a4;
    --chalk-violet-strong: #894cdf;
    --contract-color: #009268;
    --golden-kiwi: #f2d541;
    --main-color: #ffffff;
    --button-hover: #049a6d;
    --blue-vortex: #101a29;
    --section-title: 25px;
    --section-subtitle: 20px;
    --text--subtitle: 22px;
    --typeface: "Stop Normal TypeFace", sans-serif;
    --grotesk-regular: "Grotesk Regular", sans-serif;
    --grotesk-semi-bold: "Grotesk Semi Bold", sans-serif;
    --grotesk-bold: "Grotesk Bold", sans-serif;
    /* z-index */
    --z-fixed: 100;
}

/*==================== BADGE MINT CARD ====================*/
.badge-mint-card {
    border: 1px solid #ccc;
    border-radius: 16px;
    color: var(--black-eno);
    padding: 16px;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-bottom: 35px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    transition: transform 0.3s ease;
}

p.title__badge {
    font-family: var(--grotesk-bold);
    font-size: 25px;
}

p.subtitle__badge {
    font-family: var(--grotesk-regular);
    font-size: 20px;
    color: var(--button-content);
    font-weight: 600;
}

.mint-info {
    width: 95%;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.badge__description {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-family: var(--grotesk-regular);
    margin-bottom: 0px;
    line-height: 17px;
    color: var(--black-eno-mid);
}

.nft-preview {
    width: 100%;
    border-radius: 16px;
}

/*==================== BUTTONS ====================*/
.hero__btn-mint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 300% 100%;
    background-color: var(--button-content);
    border: 2px solid var(--main-color);
    border-radius: 32px;
    color: var(--main-color);
    cursor: pointer;
    font-family: var(--grotesk-regular);
    font-size: 22px;
    font-weight: 800;
    outline: none;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 300px;
}

.hero__btn-mint:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    color: var(--main-color);
}

.hero__btn-mint.color-1:hover {
    background-image: linear-gradient(to right, var(--button-hover), var(--bleached-aqua), var(--legion-blue));
    box-shadow: 0 0 15px 0 var(--golden-kiwi);
    border: 2px solid var(--golden-kiwi);
}

/*==================== NFT GRID LIST ====================*/
.nft-grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 50px;
    row-gap: 5px;
}

/*==================== MEDIA QUERIES ====================*/
@media (max-width: 1024px) {
    .nft-grid-list {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }
}

@media (max-width: 600px) {
    .nft-grid-list {
        grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
    }
}
