:root {
    --legion-blue: #0a2a36;
    --shady-glade: #02735e;
    --button-content: #14735e;
    --black-eno: #040f13;
    --black-eno-mid: #727272;
    --bleached-aqua: #bde0e2;
    --chalk-violet: #9183a4;
    --chalk-violet-strong: #894cdf;
    --contract-color: #009268;
    --golden-kiwi: #f2d541;
    --main-color: #ffffff;
    --button-hover: #049a6d;
    --blue-vortex: #101a29;
    --section-title: 25px;
    --section-subtitle: 20px;
    --text--subtitle: 22px;
    --typeface: "Stop Normal TypeFace", sans-serif;
    --grotesk-regular: "Grotesk Regular", sans-serif;
    --grotesk-semi-bold: "Grotesk Semi Bold", sans-serif;
    --grotesk-bold: "Grotesk Bold", sans-serif;

    /* z-index */
    --z-fixed: 100;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Stop Normal TypeFace";
    src: url("../fonts/Stop Normal TypeFace.ttf");
}

@font-face {
    font-family: "Grotesk Regular";
    src: url("../fonts/FoundersGrotesk-Regular.ttf");
}

@font-face {
    font-family: "Grotesk Semi Bold";
    src: url("../fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
    font-family: "Grotesk Bold";
    src: url("../fonts/FoundersGrotesk-Bold.ttf");
}


/* ------------- Mobile ------------- */

.nft-detail-container {
    display: flex;
    flex-direction: column;
}

.nft-detail-container a {
    cursor: pointer;
}

.nft-detail-video {}

.nft-detail-video video {}

.nft-detail-content {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 30px;
    margin: -10px 0 0 0;
    height: 60%;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.video-container {
    margin-top: 0;
    padding-top: 0;
}

.NFT__title {
    color: var(--black-eno);
    font-size: 32px;
    font-family: var(--grotesk-bold);
    font-weight: 700;
    margin-top: 20px;
    text-align: left;
}

.NFT__description {
    color: var(--black-eno);
    font-size: 16px;
}

.NFT__ContainerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-detail-title {}

.nft-detail-description {}

.nft-detail-content button {
    margin-top: 30px;
}

.NFT__line-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.NFT__line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9ae;
    width: 35%;
    height: .4rem;
    border-radius: 30px;
}

.NFT__btnETH {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

a.getNFT {
    width: 100%;
    color: var(--main-color);
    font-family: var(--grotesk-bold);
    font-size: 20px;
}

/* --------- section --------- */

.hero__NFT__title {
    margin-top: 35px;
    color: var(--black-eno);
    font-size: 28px;
    text-align: center !important;
    font-family: var(--grotesk-bold);
    /* background-image: linear-gradient(to right, var(--chalk-violet) 30%, var(--bleached-aqua) 40%, var(--contract-color) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.text__NFT__subtitle {
    color: var(--black-eno);
    font-family: var(--grotesk-regular);
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 15px;
    text-align: center;
}

.section__right {}

.section__right video {
    margin-top: 20px;
    border-radius: 32px;
}

.back__button {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--black-eno);
    border-radius: 64px;
    width: 40px;
    height: 40px;
    margin: 30px 0 0 30px;
    position: absolute;
    align-items: center;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.back__button:hover {
    background-color: var(--golden-kiwi);
    box-shadow: 0 0 15px 0 var(--golden-kiwi);
    border: 2px solid var(--golden-kiwi);
}

.back__button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--golden-kiwi);
}

/* ------------- Buy Button ------------- */

button.chakra-button.NFT__btn.color-1.css-moltat,
.hero__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 300% 100%;
    background-color: var(--button-hover);
    border: 2px solid #fff;
    cursor: pointer;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 800;
    font-family: var(--grotesk-regular);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    outline: none;
    padding: 30px 0;
    width: 350px;
}

.hero__btn a {
    text-decoration: none;
    color: var(--main-color);
}

.hero__btn:hover,
button.chakra-button.NFT__btn.color-1.css-moltat:hover {
    background-position: 100% 0;
    background-image: linear-gradient(to right, var(--button-hover), var(--bleached-aqua), var(--legion-blue));
    box-shadow: 0 0 15px 0 var(--golden-kiwi);
    border: 2px solid var(--golden-kiwi);
}


button.hero__btn.color-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 300% 100%;
    background-color: transparent;
    border: 2px solid var(--black-eno);
    cursor: pointer;
    color: var(--black-eno);
    font-size: 25px;
    font-weight: 800;
    font-family: var(--grotesk-regular);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    outline: none;
    padding: 10px 0;
    width: 310px;
    padding-bottom: 5px;
}

button.hero__btn.color-1:hover{
    border: 2px solid var(--golden-kiwi);
    color: var(--main-color);
}
/* -------------  NFT Button------------- */

.badges__container {
    background-color: var(--main-color);
}

.NFT__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 300% 100%;
    border: 2px solid var(--black-eno);
    cursor: pointer;
    color: var(--black-eno);
    font-size: 25px;
    font-weight: 800;
    font-family: var(--grotesk-regular);
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    outline: none;
    padding: 15px 0;
    width: 350px;
}

.NFT__btn a {
    text-decoration: none;
    color: var(--main-color);
}

.NFT__btn:hover,
button.chakra-button.NFT__btn.color-1.css-moltat:hover {
    background-position: 100% 0;
    background-image: linear-gradient(to right, var(--button-hover), var(--bleached-aqua), var(--legion-blue));
    box-shadow: 0 0 15px 0 var(--golden-kiwi);
    border: 2px solid var(--golden-kiwi);
    color: var(--main-color);
}

.NFT__container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text__NFT__subtitle,
.hero__NFT__title {
    color: var(--black-eno);
}

.NFT__button {
    display: flex;
    justify-content: center;
}

/* ------------- Badges Container ------------- */

.about__nft {
    font-size: 22px;
    font-weight: 900;
    font-family: var(--grotesk-bold);
    margin-top: 22px;
    margin-right: 10px;
}

.badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    padding-bottom: 90px;
}

.container__NFT__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__NFT__right video {
    display: flex;
    justify-content: center;
    border-radius: 32px;
    margin-top: 50px;
    width: 50%;
}

/* ------------- Buttons ------------- */

.NFT__buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px;

}

.NFT__content {
    font-weight: 800;
    color: var(--button-content);
    text-align: left;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.backButton__Container{
    display: none;
}
.backButton__right{
    display: none;
}
.backButton__left{
    display: none;
}

.newspaper{
    background-color: var(--main-color);
    color: var(--black-eno);
    padding: 30px;
}

.newspaper h2 {
    color: var(--black-eno);
}

.badges-mobile {
    margin-top: 30px;
    display: inline;
    width: 85%;
}

.badges-desktop {
    display: none;
}

/* ------------- Desktop ------------- */
@media (min-width: 1024px) {

    .nft-detail-container {
        display: flex;
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--main-color);
        padding: 20px;
        border-radius: 10px;
        margin: 100px 0;
    }

    .nft-detail-video {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 35% !important;
    }

    .nft-detail-video video {
        border-radius: 32px;
        border: 3px solid var(--bleached-aqua);
        -webkit-box-shadow: 10px 10px 71px -3px rgba(255, 255, 255, 1);
        -moz-box-shadow: 10px 10px 71px -3px rgba(255, 255, 255, 1);
        box-shadow: 10px 10px 71px -3px rgba(138, 138, 138, 0.69);
    }

    .nft-detail-content {
        display: flex;
        background-color: transparent;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        height: 70vh;
        width: 45%;
        margin-left: 40px;
        justify-content: flex-start;
    }

    .NFT__title {
        font-size: 50px;
        color: var(--main-color);
        font-family: var(--grotesk-regular);
        font-weight: 900;
    }

    .NFT__description {
        display: flex;
        text-align: left;
        color: var(--main-color);
        font-size: 18px;
        font-family: var(--grotesk-regular);
        flex-direction: column;
    }

    .NFT__content {
        font-family: var(--grotesk-regular);
        color: var(--main-color);
    }

    .nft-detail-title {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .nft-detail-description {
        font-size: 1em;
        margin-bottom: 20px;
    }

    /* .nft-detail-content button {
        background-color: var(--button-content);
        border: 2px solid var(--main-color);
        margin-top: 30px;
        padding: 10px 0;
        width: 30%;
    } */

    .back__button {
        display: none;
    }

    .backButton__Container{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }

    .backButton__right h2{
        font-size: 20px;    
    }

    .back__buttonDesktop {
        display: flex;
        font-size: 22px;
        border-radius: 32px;
        width: 35px;
        height: 35px;
        background-color: var(--main-color);
        color: var(--black-eno);
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease-in-out;
    }

    .back__buttonDesktop:hover {
        background-color: var(--golden-kiwi);
        box-shadow: 0 0 15px 0 var(--golden-kiwi);
        border: 2px solid var(--golden-kiwi);
    }

    /* ------------ NFT button -----------  */

    button.chakra-button.NFT__btn.color-1.css-moltat,
    .hero__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: 300% 100%;
        background-color: transparent;
        border: 2px solid #fff;
        cursor: pointer;
        color: var(--main-color);
        font-size: 25px;
        font-weight: 800;
        font-family: var(--grotesk-regular);
        text-decoration: none;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;
        outline: none;
        padding: 25px 0;
        width: 350px;
    }

    .hero__btn:hover,
    button.chakra-button.NFT__btn.color-1.css-moltat:hover {
        background-position: 100% 0;
        background-image: linear-gradient(to right, var(--button-hover), var(--bleached-aqua), var(--legion-blue));
        box-shadow: 0 0 15px 0 var(--golden-kiwi);
        border: 2px solid var(--golden-kiwi);
    }

    .NFT__container button:hover {
        color: var(--main-color) !important;
    }

    /* ------------- Badges Container ------------- */

    .badges__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        margin-bottom: 150px;
        padding: 0 180px;
    }

    .about__nft {
        font-size: 18px;
        font-weight: 900;
        font-family: var(--grotesk-bold);
        margin-right: 10px;
    }

    .NFT__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: 300% 100%;
        border: 2px solid var(--main-color);
        cursor: pointer;
        color: var(--main-color);
        font-size: 25px;
        font-weight: 800;
        font-family: var(--grotesk-regular);
        text-decoration: none;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;
        outline: none;
        padding: 15px 0;
        width: 350px;
    }

    .NFT__btn:active {
        color: var(--main-color);
    }

    .hero__NFT__title {
        text-align: left;
        color: var(--main-color);
    }

    .text__NFT__subtitle {
        color: var(--main-color);
        font-size: 22px;
        text-align: left;
    }

    .container__NFT__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
    }

    .container__NFT__right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .container__NFT__right video {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        width: 65%;
    }

    .backButton__Container {
        display: flex;
    }
    .backButton__right,
    .backButton__left {
        display: block;
    }

    .newspaper{
        background-color: initial;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 100px 0;
        width: 100%;
    }

    .newspaper h2{
        color: var(--main-color);
    }

    .backBadges{
        align-items: center;
        display: grid;
        justify-items: center;
        margin: 0 auto;
        max-width: 400px;
        background: url(/src/assets/badgesNFT.png) no-repeat center center;
        background-size: contain;
    }
    
    .layer {
        background: none ;
        height: auto ;
        padding: 0 ;
        width: 100%;
        z-index: 0;
    }

    .badges-desktop {
        display: inline; 
    }
    video.layer.badges-mobile {
        display: none; 
    }
}