/*==================== VARIABLES ====================*/
:root {
    --legion-blue: #0a2a36;
    --shady-glade: #02735e;
    --button-content: #14735e;
    --black-eno: #040f13;
    --black-eno-mid: #727272;
    --bleached-aqua: #bde0e2;
    --chalk-violet: #9183a4;
    --chalk-violet-strong: #894cdf;
    --contract-color: #009268;
    --golden-kiwi: #f2d541;
    --main-color: #ffffff;
    --button-hover: #049a6d;
    --blue-vortex: #101a29;
    --section-title: 25px;
    --section-subtitle: 20px;
    --text--subtitle: 22px;
    --typeface: "Stop Normal TypeFace", sans-serif;
    --grotesk-regular: "Grotesk Regular", sans-serif;
    --grotesk-semi-bold: "Grotesk Semi Bold", sans-serif;
    --grotesk-bold: "Grotesk Bold", sans-serif;
    --grotesk-medium: "Grotesk Medium", sans-serif;

    /* z-index */
    --z-fixed: 100;
}

/*==================== FONTS ====================*/
@font-face {
    font-family: "Stop Normal TypeFace";
    src: url("../fonts/Stop Normal TypeFace.ttf");
}

@font-face {
    font-family: "Grotesk Regular";
    src: url("../fonts/FoundersGrotesk-Regular.ttf");
}

@font-face {
    font-family: "Grotesk Semi Bold";
    src: url("../fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
    font-family: "Grotesk Bold";
    src: url("../fonts/FoundersGrotesk-Bold.ttf");
}

@font-face {
    font-family: "Grotesk Semi Bold";
    src: url("../fonts/FoundersGrotesk-Medium.ttf");
}

/*==================== BASE ====================*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*==================== PURCHASE CARD ====================*/
.purchase__title {
    font-size: 24px;
    font-family: var(--grotesk-semi-bold);
}

.purchase__container {
    width: 95%;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text__content {
    color: var(--black-eno-mid);
}

.nft-purchase-card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bleached-aqua);
    border-radius: 22px;
    color: var(--black-eno);
    padding: 16px;
    width: 350px;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    row-gap: 15px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.nft-purchase-card:hover {
    border-color: var(--button-content);
    transform: translate(0, -15px);
}

p.purchase__description {
    font-size: 16px;
    font-family: var(--grotesk-regular);
    margin-bottom: 0px;
    line-height: 17px;
    color: var(--black-eno-mid);
}

p.purchase__minted {
    font-family: var(--grotesk-regular);
    font-size: 20px;
    color: var(--button-content);
    font-weight: 600;
}

.nft-purchase-card video {
    border-radius: 16px;
    width: 100%;
}

.nft-purchase-card button {
    width: 100%;
    background-color: var(--shady-glade);
    border-radius: 32px;
    margin-top: 4px;
    padding: 10px 0;
    padding-bottom: 5px;
}

.nft-video-container {
    position: relative;
}

.nft-video-container.blur video {
    filter: blur(10px);
}

.countdown-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

.hero__btn-mint.color-1:disabled {
    background-color: grey;
    cursor: not-allowed;
    pointer-events: none;
}

.hero__btn-wrapper {
    display: inline-block;
}

.hero__btn-wrapper:disabled {
    background-color: grey;
}

.hero__btn-wrapper:hover:disabled {
    background-color: black;
}

@media (max-width: 767px) {
    .purchase__container-details {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .purchase__left-details,
    .purchase__right-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p.purchase__minted-details {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--button-content);
        font-weight: 600;
        margin-top: 2px;
    }

    span.purchase__eno-price {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--black-eno-mid);
        font-weight: 200;
        margin-top: 5px;
    }

    .purchase__left-details img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        font-size: 16px;
        font-family: var(--grotesk-regular);
        color: var(--black-eno-mid);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .purchase__container-details {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .purchase__left-details,
    .purchase__right-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p.purchase__minted-details {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--button-content);
        font-weight: 600;
        margin-top: 2px;
    }

    span.purchase__eno-price {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--black-eno-mid);
        font-weight: 200;
        margin-top: 5px;
    }

    .purchase__left-details img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        font-size: 16px;
        font-family: var(--grotesk-regular);
        color: var(--black-eno-mid);
    }
}

@media (min-width: 1024px) {
    .purchase__container-details {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .purchase__left-details,
    .purchase__right-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p.purchase__minted-details {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--button-content);
        font-weight: 600;
        margin-top: 2px;
    }

    span.purchase__eno-price {
        font-family: var(--grotesk-regular);
        font-size: 20px;
        color: var(--black-eno-mid);
        font-weight: 200;
        margin-top: 5px;
    }

    .purchase__left-details img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        font-size: 16px;
        font-family: var(--grotesk-regular);
        color: var(--black-eno-mid);
    }
}

.nft-video-container {
    position: relative;
}

.nft-video-container.blur video {
    filter: blur(10px);
}

.countdown-overlay {
    position: absolute;
    width: 80%;
    padding-top: 20px;
    border-radius: 32px;
	background: linear-gradient(var(--contract-color), var(--chalk-violet));
    color: var(--main-color);
    font-size: 32px;
    font-family: var(--grotesk-bold);
}